<p> Article: <span class="titles"> {{title}} </span></p>
<p> Created by: <span class="author"> {{author}} </span> </p>
<hr />
<p> {{content}} </p>
<hr />
<div>
  {{#if isAuthor}}
    <form action="/blogs/{{blogUrl}}" method="post">
      <input type="submit" value="Delete" />
    </form>
  {{/if}}
</div>
<div class="redirectLinks">
  <p>
    <a href="http://localhost:{{port}}/homePage"> home page </a>
  </p>
  <p>
    <a href="http://localhost:{{port}}/posts"> posts </a>
  </p>
  <p>
    <a href="http://localhost:{{port}}/newPost"> new post </a>
  </p>
</div>